__pycache__
.deps
.vscode
*.bak
*.gmo
*.o
*.ogv
/recordmydesktop/src/recordmydesktop
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gtk-recordmydesktop/src/gtk-recordMyDesktop
gtk-recordmydesktop/src/rmdConfig.py
install-sh
ltmain.sh
Makefile
Makefile.in
missing
POTFILES
py-compile
qt-recordmydesktop/src/qt-recordMyDesktop
qt-recordmydesktop/src/rmdConfig.py
recordmydesktop-*.tar.gz
src/recordmydesktop
stamp-h1
test-driver
test-rectinsert*
test-suite.log
