[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=qt-recordMyDesktop
Comment=Frontend for recordMyDesktop
Comment[fr]=Interface pour recordmydesktop
Exec=qt-recordMyDesktop
Terminal=false
Type=Application
Icon=qt-recordmydesktop.png
Categories=AudioVideo;Recorder;
StartupNotify=false
